.app-clientInfo--inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.app-clientInfo input {
  width: 55vw;
}

.app-clientInfo--stack {
  margin: 1.5rem;
}

.app-clientInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 83vh;
  overflow-y: scroll;
}
.app-clientInfo--recentInvoices--listItem {
  width: 80vw;
  border-radius: 0.5rem;
  background: white;
  padding: 0.4rem;
  z-index: 10;
  box-shadow: 2px 2px 2px 1px #a0aebf;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-clientInfo--recentInvoices--listItem--left {
  display: flex;
  align-items: center;
}
.app-clientInfo--recentInvoices--listItem--right {
  display: flex;
  flex-direction: column;
}