.app-invoiceHistory {
  width: 100vw;
  overflow: scroll;
  height: 83vh;
}

.app-invoiceHistory--list {
  width: 100vw;
}

td,
tr,
th {
  border: none !important;
}

.app-invoiceHistory--broke {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid red;
  margin: 2rem 0.3rem;
  background: lightsalmon;
  box-shadow: 2px 2px 2px gray;
}
.app-invoiceHistory--brokeImage {
  padding: 2rem;
  width: 100vw;
}

.app-invoiceHistory-filter {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

