.app-payment--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 83vh;
  width: 100vw;
  overflow-y: scroll;
}

.rccs {
  margin: 3vh !important;
}

.app-payment--formInput {
  width: 80vw !important;
  margin: 1.5vh;
}

.app-payment--formInputTel {
  width: 40vw !important;
}

.app-payment--formInputCvc {
  width: 40vw !important;
}
.app-payment--formSubmit {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.app-payment--receiverInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
}
